body {
    margin: 0;
    height: 100%;
    background-color: black;
    background-image: url("computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    position: absolute;    
    width: 100%;    
    margin-top: 5%;
    flex-wrap: nowrap;
}
    

a {
    padding: 1% 50%;
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    background-color: rgba(228, 61, 10, 0.8);    
    border: 1px solid red;
    transition: all 1s;
    animation: textturn 0.8s linear infinite alternate;
}
a:hover {
    transform: scale(1.5);
    animation: backwards;
}

h1 {
    font-family: sans-serif;
    font-size: 5vw;
    color: white;
    background-color: transparent; 
}

@keyframes textturn {
    from {color: white} 
    to {color: rgba(228, 61, 10, 0.8);}
}
