body{
    background-color: silver;   
    color: white;
}

header{
    font-size: 2.5em;
    margin: 0 0 10px 10px;
    color:yellow;
}

main {
 font-size: 1.15em;

}

#form-legend{
 font-size: 1.20em;
 color:steelblue;
}
footer {
    font-size: 0.8em;
    text-align: center;
    color: yellow;
    margin-top: 5px;
}