body {
    margin: 0;
    height: 100%;
    background-color: silver;
    background-image: url("clndr.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#flex-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(228, 61, 10, 0.8);
    border: 1px solid red;
    position: absolute;
    top: 10px;
    width: 100%;
    transition: all 1s;
}

a {
    padding: 1% 50%;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

#flex-box:hover {
    transform: scale(1.5);
}